$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$dark: #1e293b;
$darkActive: #405277;
$white: #fff;
$gray: #6b7280;
$grayDark: #595c62;
$textColor: #9ca3af;
$activeColor: #3b82f6;
$borderColor: #708090;
$primaryColor: #60a5fa;
$dangerColor: #dc2626;
$dangerActiveColor: #b01e1e;
.profile {
  position: relative;
}
.profile__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 1px solid $borderColor;
  margin-bottom: 20px;
}

.profile__img {
  text-align: center;
  img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    object-fit: cover;
  }
  .default__image {
    border-radius: 50%;
    width: 96px;
    height: 96px;
  }
}
.upload__page_btn {
  font-size: 14px;
  display: block;
  border: 1px solid $borderColor;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 20px;
  color: $textColor;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $gray;
  }
}

.updateBtn {
  font-size: 18px;
  border: 1px solid $primaryColor;
  padding: 4px 10px;
  border-radius: 5px;
  margin-top: 5px;
  color: $primaryColor;
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: 20px;
  &:hover,
  &:focus {
    border-color: $activeColor;
    color: $activeColor;
  }
}
.profile__info {
  font-family: $font;
  p {
    color: $textColor;
  }
  .email {
    font-size: 18px;
  }
  .name {
    font-size: 18px;
  }
}
.profile__follower {
  display: flex;
  gap: 30px;
  p {
    color: $textColor;
  }
}
